* {
-GtkMenuBar-internal-padding: 0;
-GtkMenuBar-shadow-type: none;
}
GtkMenuBar {
	color: #b1b1b1;
	border-width: 0;
}

GtkMenuBar .menubar.menuitem:hover,
.menubar .menuitem GtkLabel:hover {
	color: #9c4141;
	background-color: #1b1b1b;
	border-width: 0;
}
