* {
    -GtkMenu-arrow-scaling: 0.5;
    -GtkMenuItem-selected-shadow-type: none;
}

GtkMenu GtkMenuItem {
    border-width: 0;
    color: #b1b1b1;
    background-color: #1b1b1b;
}

GtkMenu GtkMenuItem :hover {
    color: #9c4141;
    background-color: #1b1b1b;
}

GtkMenu GtkMenuItem :insensitive {
    color: #303030;
}
