* {
    -GtkMenu-vertical-offset: 0;
    -GtkMenu-arrow-scaling: 0.5;
    -GtkMenu-shadow-type: none;
    -GtkWidget-wide-seperators: 1;
}

GtkMenu {
    border-width: 1;
    border-color: #232323;
    border-style: solid;
}
