Xft.dpi:                96
Xft.antialias:          true
Xft.hinting:            true
Xft.rgba:               rgb
Xft.autohint:           true
Xft.hintstyle:          hintslight
Xft.lcdfilter:          lcddefault
Xcursor.theme:          OpenZone_Fire

URxvt*font:             xft:ProFont:pixelsize=11:antialias=false,\
                        xft:Kochi Gothic,\
                        xft:Baekmuk Dotum,\
                        xft:WenQuanYi Bitmap Song,\
                        xft:DejaVu Sans Mono,\
                        xft:FreeSerif
URxvt*boldFont:         xft:ProFont:pixelsize=11:antialias=false,\
                        xft:Kochi Gothic,\
                        xft:Baekmuk Dotum,\
                        xft:WenQuanYi Bitmap Song,\
                        xft:DejaVu Sans Mono,\
                        xft:FreeSerif

URxvt.modifier:         alt
URxvt.fading:           false
URxvt.scrollBar:        false
URxvt.urgentOnBell:     true
URxvt.geometry:         84x20
URxvt.depth:            24
URxvt.saveLines:        10000
URxvt*termName:         rxvt-unicode

URxvt*internalBorder:   1

URxvt.preeditType:      OverTheSpot
URxvt.inputMethod:      ibus
URxvt*background:       #1b1b1b
URxvt*foreground:       #cccaca
URxvt*cursorColor:      #e9e6e6

!Black
URxvt*color0:           #222222
URxvt*color8:           #5b595a
!Red
URxvt*color1:           #8f5b5b
URxvt*color9:           #cf7275
!Green
URxvt*color2:           #758763
URxvt*color10:          #9ebf7c
!Yellow
URxvt*color3:           #c59f6f
URxvt*color11:          #edc472
!Blue
URxvt*color4:           #70819e
URxvt*color12:          #94aad1
!Magenta
URxvt*color5:           #947686
URxvt*color13:          #c98dad
!Cyan
URxvt*color6:           #60898f
URxvt*color14:          #8ab4be
!White
URxvt*color7:           #bcb9b9
URxvt*color15:          #e9e6e6

URxvt.perl-lib:         /home/mokou/.config/urxvt
URxvt.perl-ext:         default,matcher

URxvt.url-launcher:     firefox
URxvt.colorUL:          #cf7275
URxvt.matcher.button:   1

URxvt*keysym.Home:      [1~
URxvt*keysym.End:       [4~
