*{
    -GtkArrow-shadow-style: none;
    -GtkArrow-arrow-scaling: 0.3;
}

.arrow {
    -GtkArrow-arrow-type: down;
    background-image: url("../../../gtk-2.0/theme/gtkarrow/image/arrow-down-active.gif");
    border-width: 0;
    color: #9c4141;
}

GtkArrow{
    -GtkArrow-arrow-type: right;
    border-width: 0;
    color: #9c4141;
}


GtkArrow :insensitive{
    color: #555;
}
