style "menubar"
{
  bg[NORMAL] = "#f8f8f8"
  fg[NORMAL]    ="#ffffff"
  fg[PRELIGHT] = "#ffffff"
  text[PRELIGHT] = "#101010"
  fg[SELECTED]      = "#101010"
  text[SELECTED]      = "#101010"

xthickness            = 0
ythickness            = 0
    engine "pixmap"
    {
        image
        {
            function    = BOX
            state = NORMAL
            file        = "Menu-Menubar/menubar.png"
            border    = { 0, 25, 0, 25 }
            stretch    = FALSE
            }

        image
        {
            function    = BOX
            state = ACTIVE
            file        = "Menu-Menubar/menubar.png"
            border    = { 0, 25, 0, 25 }
            stretch    = FALSE
            }

        image
        {
            function    = BOX
            state = INSENSITIVE
            file        = "Menu-Menubar/menubar.png"
            border    = { 0, 25, 0, 20 }
            stretch    = FALSE
            }

  image
    {
      function            = BOX
      recolorable        = FALSE
            state = PRELIGHT
     file                = "Menu-Menubar/menubar-item.png"

      border            = { 5, 5, 5, 5 }
      stretch            = TRUE
    }

     }
}

style "menu"
{
  fg[PRELIGHT] 		= "#222222"
  fg[NORMAL]    ="#ffffff"
xthickness            = 3
ythickness            = 10

  engine "pixmap"
  {
    image
    {
      function            = BOX
      recolorable        = FALSE
      detail                = "menu"
      file                = "Menu-Menubar/menu.png"
      border            = { 5, 5, 10, 10 }
      stretch            = TRUE
    }
  }
}

style "menuitem"
{
    xthickness                = 6
    ythickness                = 3
  fg[PRELIGHT] 		= "#ffffff"
  fg[NORMAL]    ="#ffffff"

  engine "pixmap"
  {
    image
    {
      function            = BOX
      recolorable        = FALSE
      file                = "Menu-Menubar/menuitem.png"
      border            = { 4, 4, 4, 4 }
      stretch            = TRUE
    }
    image
    {
      function                = ARROW
      recolorable            = TRUE
      state                    = NORMAL
      overlay_file            = "Menu-Menubar/arrow.png"
      overlay_stretch    = FALSE
      arrow_direction    = RIGHT
    }
  image
    {
      function                = ARROW
      recolorable            = TRUE
      state                    = PRELIGHT
      overlay_file            = "Menu-Menubar/arrow-pre.png"
      overlay_stretch    = FALSE
      arrow_direction    = RIGHT
    }
  }
}


style "tearoffmenuitem"    = "menuitem"
{
  engine "pixmap"
  {
    image
    {
      function                = ARROW
      file                    = "Menu-Menubar/arrow.png"
      stretch                = TRUE
      arrow_direction    = LEFT
    }
  }
}
class "GtkMenu"                   style "menu"
class "GtkMenuBar*"              style "menubar"
widget_class "*MenuBar.*"     style "menubar"
class "GtkMenuItem"               style "menuitem"
class "GtkTearoffMenuItem"    style "menuitem"
