 *{
-GtkButton-default-outside-border: 0;
-GtkButton-default-border: 0;
-GtkButton-shadow-type: none;
-GtkWidget-focus-line-width: 0;
}

GtkButton {
	background-color: #222;
	border-width: 1;
	border-style: solid;
	border-color: #1b1b1b;
    color: #b1b1b1;
}

GtkButton :hover {
	background-color: #9c4141;
}

GtkButton:active:focused, GtkButton :active  {
	background-color: #5a2020;
	border-top-width: 1;
	border-style: solid;
	border-top-color: #9c4141;
	border-left-width: 1;
	border-left-color: #9c4141;
	border-right-width: 1;
	border-right-color: #9c4141;
	border-bottom-width: 1;
	border-bottom-color: #9c4141;
    color: #b1b1b1;
}

GtkButton :insensitive{
	color: #303030;
}
